*.idea
Data02
Data03
test_img.npy
test_img_fine_All.npy
test_img_fine_banana.npy
test_labels.npy
test_labels_fine_All.npy
test_labels_fine_banana.npy
ResultsFine/cnnAppleFine.h5
ResultsFine/cnnBananaFine.h5
test_img_all.npy
test_labels_all.npy
cnnFruitFine_completeModel.h5